[submodule "NightWatch/NightWatch"]
	path = NightWatch/NightWatch
	url = https://github.com/LowellObservatory/NightWatch.git
[submodule "NightWatch/NightShift"]
	path = NightWatch/NightShift
	url = https://github.com/LowellObservatory/NightShift.git
[submodule "MrFreeze/MrFreeze"]
	path = MrFreeze/MrFreeze
	url = https://github.com/LowellObservatory/MrFreeze
[submodule "LDTStack/DataServants"]
	path = LDTStack/DataServants
	url = https://github.com/LowellObservatory/DataServants
[submodule "LDTStack/ligmos"]
	path = LDTStack/ligmos
	url = https://github.com/LowellObservatory/ligmos
