*.swp
*.env
abu.conf
iago.conf
mandos.conf
alfred.conf
mrfreeze.conf
wadsworth.conf
passwords.conf
nfsMounts.conf
nginx_routing.conf
grafana_smtp.conf
*.mib

old/*

*.tar.gz

_site/*
.sass-cache/*
Gemfile.lock
.jekyll-cache
*.gem
vendor
serviceTable.md
alfred_extraPings.conf
influxbackupdump
NightWatch/config/

*.conf
MonTools/config/grafana.ini

MonTools/mibs/*.txt
MonTools/mibs/*.mib
LDTStack/mibs/*.txt
LDTStack/mibs/*.mib
SysTools/nginx-proxyman_config.json
