version: '3'

services:
  webcams:
    build:
      context: './NightShift/dockerfiles'
      dockerfile: 'webcamsDockerfile'
    container_name: 'webcams'
    volumes:
      - ${DCDATADIR}/logs/webcams:/home/lig/Codes/NightShift/outputs/logs/
      - ${DCDATADIR}/webcams:/home/lig/Codes/NightShift/outputs/images/
      - ${DCDEVDIR}/config/webcams.conf:/home/lig/Codes/NightShift/config/webcams.conf
    working_dir: /home/lig/Codes/NightShift
    command: ["python", "looper_webcams.py"]
    networks:
      - default
    restart: always

  goes:
    build:
      context: './NightShift/dockerfiles/'
      dockerfile: 'goesDockerfile'
    container_name: 'goes'
    depends_on:
      - "webcams"
    volumes:
      - ${DCDATADIR}/logs/goes/:/home/lig/Codes/NightShift/outputs/logs/
      - ${DCDATADIR}/goes/:/home/lig/Codes/NightShift/outputs/goes/
      - ${DCDATADIR}/goes/cartopy:/home/lig/.local/share/cartopy/
      - ${DCDEVDIR}/config/awsCreds.conf:/home/lig/Codes/NightShift/config/awsCreds.conf
    working_dir: /home/lig/Codes/NightShift/
    command: ["python", "looper_goes16aws.py"]
    networks:
      - default
    restart: always

  radar:
    build:
      context: './NightShift/dockerfiles/'
      dockerfile: 'radarDockerfile'
    container_name: 'radar'
    depends_on:
      - "webcams"
    volumes:
      - ${DCDATADIR}/logs/radar/:/home/lig/Codes/NightShift/outputs/logs/
      - ${DCDATADIR}/radar/:/home/lig/Codes/NightShift/outputs/radar/
      - ${DCDATADIR}/goes/cartopy:/home/lig/.local/share/cartopy/
      - ${DCDEVDIR}/config/awsCreds.conf:/home/lig/Codes/NightShift/config/awsCreds.conf
    working_dir: /home/lig/Codes/NightShift/
    command: ["python", "looper_nexradaws.py"]
    networks:
      - default
    restart: always

  bokehdctplots:
    build:
      context: './NightShift/dockerfiles/'
      dockerfile: 'bokehDockerfile'
    container_name: 'bokehdctplots'
    depends_on:
      - "webcams"
    volumes:
      - ${DCDATADIR}/logs/bokehdctplots/:/home/lig/Codes/NightShift/outputs/logs/
      - ${DCDEVDIR}/config/dbqueries.conf:/home/lig/Codes/NightShift/config/dbqueries.conf
      - ${DCDEVDIR}/config/modules.conf:/home/lig/Codes/NightShift/config/modules.conf
    working_dir: /home/lig/Codes/NightShift/
    environment:
      - BOKEH_LOG_LEVEL=debug
      - BOKEH_PY_LOG_LEVEL=debug
      - BOKEH_PRETTY=true
    command: ["python", "server_bokeh_dctplots.py"]
    ports:
      - 5000:5000
    networks:
      - default
    restart: always

  djangostack:
    build:
      context: '.'
      dockerfile: 'webStackDockerfile'
    container_name: 'djangostack'
    depends_on:
      - "radar"
      - "goes"
      - "webcams"
      - "bokehdctplots"
    ports:
      - 9876:8113
    networks:
      - default
    restart: always
    volumes:
      - ${DCDATADIR}/radar/:/home/djdock/nexrad
      - ${DCDATADIR}/goes/:/home/djdock/goes16
      - ${DCDATADIR}/webcams/:/home/djdock/webcams

networks:
  default:
    driver: bridge
